*{
	margin: 0;
	padding: 0;
}

header{
	background-color: #f2f2f2;
}

#bener{
	height: 88px;
	margin-left: 1%;
}

#header-button{
	width: 55px;
}

#button{
	border-radius: 100px;
	border: none;
	background-color: #f2f2f2;
	float: right;
	margin-right: 2%;
	margin-top: 5px;
	cursor: pointer;
	transition: 0.4s;
	transform:scale(1);
}

#button:hover{
	transition: 0.4s;
	transform: scale(0.95);
}

#table1{
float: right;
margin-right: 2%;
}

#table2{
float: right;
margin-right: 2%;
}

#table3{
float: right;
margin-right: 2%;
}

#td1{
	font-family: consolas;
	font-size: 13px;
	color: #504f4f;
}
	
#new-project{
	z-index: 3;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
}
	




	